.App {
  font-family: sans-serif;
  text-align: center;
}

.ButtonMenor {
  height: 3em;
  border-color: rgb(87, 84, 84);
}

.ButtonAcertou {
  height: 3em;
  border-color: rgb(118, 235, 103);
}

.ButtonMaior {
  height: 3em;
  border-color: rgb(36, 28, 98);
}

.ButtonIniciar {
  height: 3em;
  border-color: rgb(143, 20, 143);
}
